/~s/.config/mpv/watch_later/*
/~s/.config/flameshot/*
/~s/.config/mpv/watch_later/*
/~s/.config/gtk-2.0/
/~s/.doom.d/flycheck_custom.el
/~s/.config/gtk-3.0/bookmarks
/~s/.config/gtk-3.0/settings.ini
/~s/.config/gtkrc
/~s/.config/gtkrc-2.0
/~s/.config/kwinrc
/~s/.config/latte/plasma-monterey.layout.latte
/~s/.config/qBittorrent/qBittorrent-data.conf
/~s/.config/qBittorrent/*.conf
/~s/.ccls-cache/
/~s/.doom.d/*.log
/~s/.gitconfig
/~s/.config/mpv/scripts/run.sh
/~s/.config/mpv/scripts/time_pairs.txt
/~s/flycheck_**
/~s/.doom.d/custom.el
/~s/mpv/watch_later/
/~s/.auctex-auto/
/~s/__pycache__/
/~s/.config/qBittorrent/lockfile
/~s/.config/qBittorrent/rss/storage.lock
/~s/.config/musikcube/1/
/~s/.config/musikcube/log.txt
/~s/.config/musikcube/plugin_pipewireioutput.json
/~s/.config/musikcube/plugin_portaudioioutput.json
/~s/.config/musikcube/stderr.txt
/~s/bookmarks
/~s/.config/musikcube/playback.json
/~s/.config/musikcube/session.json
/~s/.config/musikcube/1/musik.db-wal
/~s/.doom.d/flycheck_keys.el
/~s/.config/musikcube/settings.json
flycheck_config.el
/~s/.config/cmus/autosave
/~s/.config/cmus/cache
/~s/.config/cmus/command-history
/~s/.config/cmus/search-history
*.o
/~s/.config/mvi/watch_later/
/~s/assets/languageserver.so
/~s/.config/cmus/queue.pl
/~s/.config/cmus/resume
/~s/.doom.d/feeds.el
/~s/.fehbg
/~s/.config/mvi/*
/~s/fonts/.uuid
