[safe]
	directory = /mnt/disk/me/temp/infinality-remix/fontconfig-infinality-remix/src/fontconfig
	directory = /mnt/disk/
	directory = disk/
	directory = disk/me/
	directory = disk/leet/
	directory = disk/me/gits/
	directory = *
[credential]
	helper = store
[user]
	email = ghd@keemail.me
	name = salehmu
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[github]
	user = salehmu
	oauth-token = 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
