[credential]
	helper = store
[user]
	email = smuhammed@minly.com
	name = Salih Muhammed
	signingkey = 25D3B9ED3922000E
[core]
	quotepath = false
[init]
	defaultBranch = master
[commit]
	gpgsign = true
[pull]
	rebase = false
