[credential]
	helper = store
[user]
	email = lr0@gmx.com
	name = Salih Muhammed
	signingkey = 4E3AA3ACC5C33DC5
[core]
	quotepath = false
[init]
	defaultBranch = master
[commit]
	gpgsign = true
[pull]
	rebase = false
