[credential]
	helper = store
[user]
	email = salih.moahabdelhafez@halan.com
	name = Salih Muhammed
	signingkey = BC030A16DB25780C
[core]
	quotepath = false
[init]
	defaultBranch = master
[commit]
	gpgsign = true
[pull]
	rebase = false
