[Unit]
Description=calling rss2email peridically
Requires=rss2email.service

[Timer]
Unit=rss2email.service
OnUnitActiveSec=120min
OnBootSec=10min

[Install]
WantedBy=timers.target

